{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">How it works</div>
                
            </div>
        </div>
        

        

        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how1.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Our unique and effective program</h3>
                        <p>From start to finish you’ll experience the compassion, devotion, and understanding of our team of qualified staff. We come from all backgrounds yet our story is the same: we have a personal journey that includes recovery and are here to share our experience, strength and hope as you move forward with your treatment. Each phase of our program combines group therapy, Individual therapy, family meetings, creative arts, exercise, life skills, and the 12-step model with the intention of helping you get and stay sober quickly, effectively, and for the long term.  Our therapeutic approach fouces on resolving issues at the root while keeping you present, calm, energized, and focused on what is both possible and beneficial for you at each moment. We look forward to helping you. Let’s get started. </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{%static 'images/how2.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Consultation</h3>
                        <p>When you are sick and tired of being sick and tired and really ready to change, call us for a complimentary phone or a face-to-face consultation to discuss how to get started in the recovery process. No lectures. No pressure. No scolding. We’ll review your options, discuss financial considerations, and create a plan that provides the best possible outcomes based on your situation. We work with men and women age 18 and above who have a desire to get better, who have tried to get better on their own, who have experienced negative consequences from the effects of drugs/drinking and mental health issues, but haven’t been able to get free and clear long term. Is this you?  You are not alone. We’ve been there and will help you get to the next best step. </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how3.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Intake and Medical Evaluation </h3>
                        <p>Meet with us and share your story. We will listen. We will ask questions. Together, we will come up with the most effective treatment program for your situation, as well as review all guidelines and fees. You’ll have a clear picture of your recovery path and options ahead. It is our greatest honor and intention that you feel uplifted, hopeful, supported, and believing you can achieve the results you desire by following the phases of our treatment program.    </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{%static 'images/how4.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Detox</h3>
                        <p>When mind, body and soul consistently endure the negative effects of drugs, alcohol, and emotional stress, they succumb, and a course of detox is usually required. Our program offers the time and attention needed for you to rest, recuperate and recharge mind, body and soul as comfortably as possible. We offer customized sub-acute detox services for drugs and alcohol in our rustic, 6-bed, Los Gatos Residential Treatment Center (RTC) called the Tree-House. During the Detox phase you’ll be invited to join all regularly schedule Residential phase activities; yet you may choose to rest as well. The Tree House is a quiet place for you to begin the healing process.  </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how5.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Residential</h3>
                        <p>Once through the detox process you’ll remain as our guest at the Tree House while you continue the recovery process. Or, you might begin the Residential Program without the need for detox. Either way, Residential care offers the constant support and guidance needed during early recovery, away from the stressors of your home and work environment. Our unique program provides real-life situations within a safe, supportive therapeutic framework so you learn effective coping strategies for maintaining a drug, alcohol, drama-free life when returning back home.      </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how6.jpg' %}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Partial Hospitalization</h3>
                        <p>While at home or in transitional housing, you’ll spend the day in group and individual activities at the Los Gatos Recovery Center, while flexing your recovery muscles in the evenings on your own. The benefit of this phase of treatment is the amount of support and guidance you’ll continue to experience while slowly being re-exposed to life’s stressors. You’ll be amazed and encouraged when experiencing the positive results of all the new tools you’ll learn! This is an exciting yet challenging phase of treatment that will test the strength of the recovery foundation.  We recommend – and often require – Residential care as a prerequisite to this phase of treatment to ensure you have the foothold often needed to launch soberly and successfully back in to life.    </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how7.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Intensive Outpatient</h3>
                        <p>As you integrate and become more engaged back at home and work, you’ll continue to connect with your treatment team and friends at the Los Gatos Recovery Center for a few days each week. Individual, group, family therapy options will be available to you as you develop and strengthen recovery tools. With a rock-solid recovery foundation underneath you, we will help you evaluate and improve career, relationships, finances, health, and other areas of your life during this intense and exciting phase of sobriety. You will not be alone! We will walk side by side to ensure life transitions are done gradually and effectively.    </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{% static 'images/how8.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Outpatient</h3>
                        <p>Fully immersed in your regular life, you’ll join a group or attend individual therapy a few times each week as needed. This phase provides a jolt of reality, a helping hand, an opportunity to give back, and a reminder of how far you’ve come. Stepping back in to your recovery circle each week creates the infusion of energy and clarity needed to continue doing life without the effects of drugs or alcohol.     </p>
                    </div>
                </div>
                
        </div>
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{%static 'images/how9.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Alumni</h3>
                        <p>We will be thrilled to hear from you after discharge from our program, and we will encourage your attendance at group and social events. Your recovery path will be an inspiration to those just starting out. Having completed our program, you may find yourself looking to give back, to serve, to make a difference in the lives of others tangled in substance abuse and mental healthy issues. We welcome all Alumni to “pop – in” and say HI for a group or event. We will look forward to seeing you and hearing about your sobriety journey.    </p>
                    </div>
                </div>
                
        </div>	
        
        <div class="row about_row row-eq-height">
                <div class="col-lg-4">
                        <div class="about_image"><img src="{%static 'images/how10.jpg'%}" alt="" width="250" height="180"></div>
                    </div>
                <div class="col-lg-8">
                    <div class="about_text_2">
                        <h3>Leadership Development</h3>
                        <p>When you’ve been through the various phases of our program and demonstrated compliance as well as healthy growth and change, you’ll be invited to pitch-in and help – volunteer, internship, employee – within our organization. All of us started that way and we look forward to having you aboard.</p>
                    </div>
                </div>
                
        </div>	
<br><br><br><br><br><br><hr>
        <div class="row about_row row-eq-height">
                
                <div class="col-lg-12">
                    <div class="about_text_2">
                        <h3>First step: Call for a complimentary consultation.</h3>
                        <p>We will help you with every step along the path including the first. Courage requires a mix of both fear and excitement. It’s OK to be afraid – it’s part of the mix! And when you feel excitement about what we have to offer you then take the leap of faith and call us.   

                            </p>
                    </div>
                </div>
                
        </div>	
        
    </div>
</div>





    <script>
            $('#howmenu').css('text-decoration',  'underline')
    </script>

{% endblock %}